.App {
  text-align: center;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h h h h"
    "n c c c c"
    "f f f f f"
}

.container {
  padding: 0 10px;
}

.header {
  grid-area: h;
  background-color: green;

}

.nav {
  grid-area: n;
  background-color: gray;

}

.content {
  grid-area: c;
  background-color: blue;
}

.avatar img {
  width: 100px;
  height: 100px;
}

.footer {
  grid-area: f;
  background-color: black;
}